.App {
  text-align: center;
  background-color: #E5E5E5 ;
  min-height: 100vh;
}

.flex {
  display: flex;
  width: 100%;
}
.w-small{
  width: 40%;
}
.frame-position{
  justify-content: center;
  align-items: center;
  width: 100%;
  height: inherit;
}
@media screen and (max-width : 780px) {
  .w-small{
    display: none;
  }
  .show{
    position: absolute;
    display: block;
    width: 90%;
    z-index: 5;
  }
  
}